.opinion-body {
    background-color: #282c34;
    color: rgb(41, 64, 65);
    border: 1px solid cornflowerblue;
    margin: 1rem;
    width: 100%;
    
  }
  
  .opinion-side-section{
    width: 15%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

  }
  .opinion-content-section{
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

  }

  .opinion-content-item {
    width: 80%;
    height: 50px;
    margin: 2px;
    border-bottom: 3px solid aquamarine;
    border-radius: 15px;
    font-size: calc(3px + 2vmin);

  }
  
  .opinion-item-date {
    width: 100%;
    height: 100px;
    margin: 2px;
    border: 3px solid aquamarine;
    border-radius: 15px;
    font-size: calc(3px + 2vmin);

  }
  
  .opinion-number {
    width: 40%;
    margin: 5px;
    border-bottom: 3px solid aquamarine;
    border-radius: 15px;
  }
  
  .opinion-number-paragraph {
      margin: 0px;
      color: black;
  }
  
  .opinion-paragraph {
    color: black;
  }
  