.slider-wrapper {
  display: inline-block;
  width: 20px;
  height: 170px;
  padding: 0;
}

.slider-wrapper input {
  width: 120px;
  margin: 0;
  transform-origin: 75px 75px;
  transform: rotate(-90deg);

}
.slider-content{
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 70px;
}

.slider-label {
    color:aquamarine;
    font-size: calc(5px + 1vmin);

}